/* This stylesheet creates a 4x1 format */

p{
	color:black;
}


#viewport {
	width:100%;
	height: 800px;
}

h1 {
padding:0px;
margin:0px;

}

#message {
width:500px;
float:center;
}

#nav {
visibility:hidden;
background-color:black;
color:white;
height:35px;
padding:5px;
text-transform:uppercase;
font-size:.9em;
}

#nav a{
color:white;
text-decoration:none;
padding:5px;
}

#nav a:hover
{ 
background-color:violet;
color:yellow;
font-weight:900;
}

#nav li{
float:left;
padding:5px 5px 5px 5px;
list-style:none;

}


#mobile {
position:absolute;
width:100%;
visibility:hidden;
text-align:center;
background-color:#000000;
color:#ffffff;
}

#tablet {
position:absolute;
width:100%;
visibility:hidden;
text-align:center;
background-color:#000000;
}

h3{
	background-color: #ffffff;
	text-align:center;
}

.grid {
	float:left;
	width: 25% ;
	height: 50%;
	background-repeat:no-repeat;
	margin:5px 0px 10px 0px;
}

#grid1 {
	background-image:url('images/architecture1.jpg');
}

#grid2 {
	background-image:url('images/architecture2.jpg');
}

#grid3 {
	background-image:url('images/architecture3.jpg');
}

#grid4 {
	background-image:url('images/architecture4.jpg');
}

#grid5 {
	background-image:url('images/architecture5.jpg');
}

#grid6 {
	background-image:url('images/architecture6.jpg');
}

#grid7 {
	background-image:url('images/architecture7.jpeg');
}

#grid8 {
	background-image:url('images/architecture8.jpeg');	
}